@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;

@{
    HttpContext? httpContext = HttpContextAccessor.HttpContext;
    bool pristupOveren = (httpContext != null) && (httpContext.Session.GetString("PristupOveren") == "Ano");
}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebovaAplikace</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a href="/Home/Index">Domů</a>
            <a href="/Poznamky/Prehled">Přehled poznámek</a>
            @if(pristupOveren)
            {
            <a href="/Poznamky/Pridat">Přidat poznámku</a>
            <a href="/Pristup/Zrusit" style="position: absolute; right: 10px">Odhlásit se</a>
            }
            else
            {
                <a href="/Pristup/Zkontrolovat" style="position: absolute; right: 10px">Přihlásit se</a>
            }
        </nav>
    </header>
    <div class="container">
        <main>
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <hr />
            <p>Copyright &copy; 2022 Ondřej Foltín</p>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
