@{
    Layout = "_Layout";
    ViewData["Title"] = "Přístup - Vytvoření";
}

<form action="/Pristup/Vytvorit" method="post">
    <input type="password" name="heslo" placeholder="Zadejte své heslo..." /><br />
    <input type="password" name="znovu" placeholder="Zadejte znovu pro kontrolu..." /><br />
    <input type="submit" value="Zaregistrovat se" />
</form>
