@{
    Layout = "_Layout";
    ViewData["Title"] = "Přihlášení";
}

<form action="/Pristup/Zkontrolovat" method="post">
    <input type="password" name="heslo" placeholder="Zadejte své heslo..." /><br />
    <input type="submit" value="Přihlásit se" />
</form>

